body {
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

.app-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
input[type="checkbox"] {
  border: 2px solid #a3dc9a;
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #a3dc9a;
  border-radius: 20px;
}

.add-button {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.todo-item {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

button {
  background: #e83c91;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background: #ff8fb7;
}

.edit-button {
  background: #687fe5;
}
.edit-button:hover {
  background: #c0c9ee;
}
.save-button {
  background: #687fe5;
}
.save-button:hover {
  background: #c0c9ee;
}
.delete-button {
  background: #d84040;
}
.delete-button:hover {
  background: #e57373;
}
